body {
  background-color: #f3f2f2;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #0e30ca;
}

p {
  font-size: 2rem;
  color: #0e30ca;
  font-family: 'Indie Flower', cursive;
}


.row {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.dice {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

img {
  width: 80%;
  align-self: center;
}

footer {
  margin-top: 5%;
  color: #0e30ca;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}